<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Manager</title>
    <link href="../static/sylte.css" rel="stylesheet">
  </head>
  <body>
    <div id="logging">
      <h2>Create Account</h2>
      <form action="/create-account" method="POST">
        <div>
          <label for="username">Usernam:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="text" id="password" name="password" required>
        </div>
        <button type="submit">Enter</button>
      </form>
    </div>
  </body>
</html>
